@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Lang("Following.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}
<style>
    body {
        /*background-image: url('../../Themes/Metro/Content/Images/frame-halves-fruit-vegetables-white-background-31464578.jpg');*/
        font-family: Tahoma;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="following">

    <div class="following-categories">
        <h2>@Html.Lang("Following.Categories")</h2>
        @Html.Action("GetSubscribedCategories", "Category")
    </div>
    
    <div class="followingtopics">
        <h2>@Html.Lang("Following.Topics")</h2>
        @Html.Action("GetSubscribedTopics", "Topic")
    </div>  
    
</div>
