@model FinalProject.Models.Exchange
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}
@section side
{
    @Html.Partial("_CommonSideNav")
}
<style>
    #exchangeBody {
        background-color: lightcyan;
        font-family:Tahoma;
    }
</style>
<body id="exchangeBody">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3 id="displayrow">Exchange Item Details</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ExchangeUserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ExchangeUserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NameType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NameType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Info)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Info)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.HaveNeed)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HaveNeed)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PostTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PostTime)
                        </dd>
                    </dl>
                    @if (Model.ExchangeUserName == "admin")
                    {<a href="/privatemessage/view/?from=cf44b1a0-43d4-4f0e-bdda-a72f01106fc4" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => model.ExchangeUserName)">Message Me</a>}
                    @if (Model.ExchangeUserName == "theandy18")
                    {<a href="/privatemessage/view/?from=7ab21651-ebc4-4fb9-aeba-a72f01129f69" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => model.ExchangeUserName)">Message Me</a>}
                    @if (Model.ExchangeUserName == "farmersonly")
                    {<a href="/privatemessage/view/?from=88c7624e-8487-4b57-870b-a73901896c8e" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => model.ExchangeUserName)">Message Me</a>}
                </div>
                @if (User.Identity.Name == Model.ExchangeUserName || User.Identity.Name == "admin")
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    </p>
                }
                <p>@Html.ActionLink("Back to List", "Index")</p>
            </div>
        </div>
    </div>
</body>