@model IEnumerable<FinalProject.Models.Exchange>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}
@section side
{
    @Html.Partial("_CommonSideNav")
}
<style>
    #exchangerow {
        opacity: .85;
        filter: alpha(opacity=50);
    }

    #exchangeBody {
        background-color: lightcyan;
    }

    #buttonOfficial {
        font-family: tahoma;
        color: black;
    }

    a:visited {
        color: black;
    }

    #createNew {
        color: black;
        font-size: 14px;
    }
</style>
<body id="exchangeBody">
    @if (User.Identity.IsAuthenticated)
    {
        <p id="createNew">
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="row" id="exchangerow">
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <div id="itemdetails">
                                <p>
                                    @Html.DisplayNameFor(model => model.ExchangeUserName):  @Html.DisplayFor(modelItem => item.ExchangeUserName) |
                                    @if (item.ExchangeUserName == "admin")
                                    {<a href="/privatemessage/view/?from=cf44b1a0-43d4-4f0e-bdda-a72f01106fc4" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => item.ExchangeUserName)">Message Me</a>}
                                    @if (item.ExchangeUserName == "theandy18")
                                    {<a href="/privatemessage/view/?from=7ab21651-ebc4-4fb9-aeba-a72f01129f69" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => item.ExchangeUserName)">Message Me</a>}
                                    @if (item.ExchangeUserName == "farmersonly")
                                    {<a href="/privatemessage/view/?from=88c7624e-8487-4b57-870b-a73901896c8e" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => item.ExchangeUserName)">Message Me</a>}
                                </p>
                                <p>@Html.DisplayNameFor(model => model.NameType):  @Html.DisplayFor(modelItem => item.NameType)</p>
                                <p>@Html.DisplayNameFor(model => model.Info):  @Html.DisplayFor(modelItem => item.Info)</p>
                                <p>@Html.DisplayNameFor(model => model.HaveNeed):  @Html.DisplayFor(modelItem => item.HaveNeed)</p>
                                <p>@Html.DisplayNameFor(model => model.Quantity):  @Html.DisplayFor(modelItem => item.Quantity)</p>
                                <p>@Html.DisplayNameFor(model => model.PostTime):  @Html.DisplayFor(modelItem => item.PostTime)</p>
                                <div id="buttonOfficial">
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success", role = "button" }) <!--These three will get their own buttons-->
                                    @if (User.Identity.Name == item.ExchangeUserName || User.Identity.Name == "admin")
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })
                                    }
                                    @if (User.Identity.Name == item.ExchangeUserName || User.Identity.Name == "admin")
                                    {
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger", role = "button" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</body>







@*<h2>Index</h2>
@if (User.Identity.IsAuthenticated)

{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>@User.Identity.Name</p>
<p>@DateTime.Now</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetGive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetGive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeUserName)
        </td>
       <td>
           @Html.ActionLink("Details", "Details", new { id = item.ID })
           
       </td>
        @if (User.Identity.Name==item.ExchangeUserName || User.Identity.Name == "admin")
        { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
        </td>
        }
    </tr>
}

</table>
}*@



@*<style>
    #exchangerow {
        opacity: .85;
        filter: alpha(opacity=50);
    }

    #exchangeBody {
        background-color: lightcyan;
    }

    #buttonOfficial {
        font-family: tahoma;
        color: black;
    }

    a:visited {
        color: black;
    }

    #createNew {
        color: black;
        font-size: 14px;
    }

    body {
        font-family: Tahoma;
        font: bold;
        background-image: url('../../Themes/Metro/Content/Images/frame-halves-fruit-vegetables-white-background-31464578.jpg');
        background-size: cover;
    }
</style>*@